{% extends 'base.html.twig' %}

{% block title %}Official Forms{% endblock %}

{% block body %}
    <h1 style="color: red">Official Forms</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ official_form.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ official_form.name }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ official_form.file }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ official_form.date ? official_form.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('official_forms_index') }}">Return to list</a>

    <a href="{{ path('official_forms_edit', {'id': official_form.id}) }}">Edit</a>

    {{ include('official_forms/_delete_form.html.twig') }}
{% endblock %}
