{% extends 'base.html.twig' %}

{% block title %}CMS:
    {% if cms_dynamic.webpage is not null %}
        {{ cms_dynamic.webpage.serviceOffered }}
    {% else %}
        {{ cms_dynamic.articlePage }}
    {% endif %}
{% endblock %}

{% block body %}
    <h1 style="color: red">Edit Dynamic CMS:
        {% if cms_dynamic.webpage is not null %}
            {{ cms_dynamic.webpage.serviceOffered }}
        {% else %}
            {{ cms_dynamic.articlePage }}
        {% endif %}</h1>

    {{ include('cms_dynamic/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('cms_dynamic_index') }}">Return to list</a>

    {{ include('cms_dynamic/_delete_form.html.twig') }}
{% endblock %}
