{% extends 'base.html.twig' %}

{% block title %}Employee Calendar SetUp{% endblock %}

{% block body %}
    <h1 style="color: red"><a target="_blank" href="{{ path('user_new') }}">Employee</a> Calendar SetUp</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Employee</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Day Of Week</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        {% for employee_calendar_set_up in employee_calendar_set_ups %}
            <tr>
                <td>
                    <a href="{{ path('employee_calendar_set_up_edit', {'id': employee_calendar_set_up.id}) }}">{{ employee_calendar_set_up.employee.fullName }}</a>
                </td>
                <td>{{ employee_calendar_set_up.startTime }}:00h</td>
                <td>{{ employee_calendar_set_up.endTime }}:00h</td>
                <td>
                    {% for day in employee_calendar_set_up.dayOfWeek %}
                        {{ day }},
                    {% endfor %}
                </td>
                <td data-sort="{{ employee_calendar_set_up.startDate|date('Y-m-d') }}">{{ employee_calendar_set_up.startDate ? employee_calendar_set_up.startDate|date('d-M-Y') : '' }}</td>
                <td data-sort="{{ employee_calendar_set_up.endDate|date('Y-m-d') }}">{{ employee_calendar_set_up.endDate ? employee_calendar_set_up.endDate|date('d-M-Y') : '' }}</td>
                <td>
                    <a class="btn btn-outline-success btn-sm"
                       href="{{ path('employee_calendar_new_from_dashboard', {id:employee_calendar_set_up.id}) }}">Make
                        Calendar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('employee_calendar_set_up_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
