{{ form_start(form) }}

<div class="row">
    <div class="col-2">
        {{ form_row(form.client) }}
        {{ form_row(form.service) }}
        {{ form_row(form.stage) }}
    </div>

    <div class="col-2">
        {{ form_row(form.recipientName) }}
        {{ form_row(form.recipientEmail) }}
    </div>

    <div class="col-2">
        {{ form_row(form.sender) }}
        {{ form_row(form.dateTime) }}
    </div>
</div>


<div class="row">
    <div class="col-10">
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}
    </div>
</div>

<button class="btn btn-success btn-sm">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
