<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background: #eb7f55;">

        <a class="navbar-brand" href="/">
            <img alt="Gwenny's Red Tape Services" src="{{ asset('administration/img/immigrationservices.png') }}"
                 height="50px" width="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" style="margin-right: 50px;">

                {% if is_granted('ROLE_STAFF') %}
                    {% if CountPendingWebsiteInquiries.countContacts >0 %}
                        <li class="nav-item active">
                            <a style="color: red" class="nav-link" target="_blank"
                               href="{{ path('website_contacts_index') }}">
                                <i title="Website inquiries awaiting a response" style="color: yellow"
                                   class="fa fa-user-secret"></i>
                                ({{ CountPendingWebsiteInquiries.countContacts }})
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item active">
                        <a style="color: red" class="nav-link" target="_blank"
                           href="{{ path('transaction_index', {subset: 'Pending', clientName: 'All'}) }}">
                            <i title="Number of pending transactions" class="fa fa-line-chart"></i>
                            {% if is_granted('ROLE_STAFF') %}
                                ({{ CountTransactions.countTransactions(NULL, "Pending") }})
                            {% else %}
                                ({{ CountTransactions.countTransactions(app.user, "Pending") }})
                            {% endif %}
                        </a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" target="_blank" href="{{ path('advanced_dashboard') }}"><i
                                    class="fa fa-chalkboard-teacher"></i> Adv Dashboard
                            <span style="color: red">*</span>
                        </a>
                    </li>
                {% endif %}

                {% if app.user %}
                    <li class="nav-item active">
                        <a class="nav-link" target="_blank" href="{{ path('dashboard') }}"><i
                                    class="fa fa-chalkboard"></i>Dashboard</a>
                    </li>
                {% endif %}

                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_home') }}">Home</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% set services_offered = servicesOffered.getServicesOfferedFooter %}
                        {% for service in services_offered %}
                            <a class="dropdown-item"
                               href="{{ path('service_offered', { serviceOffered: service.serviceOffered}) }}">{{ service.serviceOffered }}</a>
                        {% endfor %}
                    </div>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        The Firm
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('/aboutUs') }}">About Us</a>
                        <a class="dropdown-item" href="{{ path('staff') }}">The Team</a>
                    </div>

                </li>
                <li class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('articles_index') }}">Articles/Guides</a>
                        <a class="dropdown-item" href="{{ path('business_contacts_index') }}">Useful contacts</a>
                        <a class="dropdown-item" href="{{ path('/faqs') }}">FAQs</a>
                    </div>
                </li>


                <li class="dropdown nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Book An Appointment</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('price_list') }}">Price List</a>
                        {% if is_granted('ROLE_STAFF') %}
                            <a class="dropdown-item" href="{{ path('office_appointments_index') }}">Book An
                                Appointment</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('office_appointments_index_client') }}">Book An
                                Appointment</a>
                        {% endif %}
                    </div>
                </li>


                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i> {{ app.user.fullName }}

                            {% if is_granted('ROLE_STAFF') %}<span title="Staff" style="color: green">
                                <i class="fa fa-star"></i></span>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}<span title="Admin" style="color: blue">
                                <i class="fa fa-chess-knight"></i> </span>
                            {% endif %}
                            {% if is_granted('ROLE_SUPER_ADMIN') %}<span title="Super-Admin" style="color: red">
                                <i class="fa fa-chess-king"></i></span>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a target="_blank" class="dropdown-item"
                               href="{{ path('user_edit', {'fullName': app.user.fullName}) }}">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                My profile
                            </a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('log_index') }}">Login</a>
                    </li>
                {% endif %}

            </ul>
        </div>

    </nav>

</header>