{% extends 'base.html.twig' %}

{% block title %}Client Availability{% endblock %}

{% block body %}
    <h1 style="color: red">Client Availability</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client_availability.id }}</td>
            </tr>
            <tr>
                <th>ArriveInCyprusDate</th>
                <td>{{ client_availability.arriveInCyprusDate ? client_availability.arriveInCyprusDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DepartFromCyprusDate</th>
                <td>{{ client_availability.departFromCyprusDate ? client_availability.departFromCyprusDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ client_availability.notes }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary btn-sm" href="{{ path('client_availability_index') }}">Return to list</a>

    <a class="btn btn-outline-danger btn-sm" href="{{ path('client_availability_edit', {'id': client_availability.id}) }}">Edit</a>

    {{ include('client_availability/_delete_form.html.twig') }}
{% endblock %}
